name: Example Terraform Plan Workflows

on:
  workflow_dispatch:
    inputs:
      backend-type:
        description: 'Backend type to use'
        required: true
        default: 's3'
        type: choice
        options:
        - s3
        - remote
      cloud-provider:
        description: 'Cloud provider for authentication'
        required: true
        default: 'gcp'
        type: choice
        options:
        - aws
        - gcp
        - azure

jobs:
  terraform-plan-s3:
    if: github.event.inputs.backend-type == 's3'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    name: Terraform Plan with S3 Backend
    steps:
      - name: Run Terraform Plan with S3
        uses: ./
        with:
          terraform-dir: examples/s3-backend
          backend-type: s3
          s3-bucket: ${{ secrets.S3_BUCKET }}
          s3-region: ${{ secrets.S3_REGION }}
          tf-vars-file: terraform.tfvars
          ci-pipeline: "true"

  terraform-plan-tfc:
    if: github.event.inputs.backend-type == 'remote'
    runs-on: ubuntu-latest
    name: Terraform Plan with HCP Terraform Cloud
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Run Terraform Plan with HCP Terraform Cloud
        uses: ./
        with:
          terraform-dir: examples/tfc-backend
          backend-type: remote
          tfc-token: ${{ secrets.TFC_API_TOKEN }}
          cloud-provider: ${{ github.event.inputs.cloud-provider }}
          # AWS inputs
          aws-region: ${{ vars.AWS_REGION }}
          aws-role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          # GCP inputs
          gcp-wif-provider: ${{ secrets.GCP_WIF_PROVIDER }}
          gcp-service-account: ${{ secrets.GCP_BOOTSTRAP_SA }}
          # Azure inputs
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tf-vars-file: terraform.tfvars