name: Example Terraform Plan Workflows

on:
  workflow_dispatch:
    inputs:
      backend-type:
        description: 'Backend type to use'
        required: true
        default: 's3'
        type: choice
        options:
        - s3
        - remote

jobs:
  terraform-plan-s3:
    if: github.event.inputs.backend-type == 's3'
    runs-on: ubuntu-latest
    name: Terraform Plan with S3 Backend
    steps:
      - name: Run Terraform Plan with S3
        uses: ./
        with:
          terraform-dir: examples/s3-backend
          backend-type: s3
          s3-bucket: ${{ secrets.S3_BUCKET }}
          s3-region: ${{ secrets.S3_REGION }}
          tf-vars-file: terraform.tfvars
          ci-pipeline: "true"

  terraform-plan-tfc:
    if: github.event.inputs.backend-type == 'remote'
    runs-on: ubuntu-latest
    name: Terraform Plan with HCP Terraform Cloud
    steps:
      - name: Run Terraform Plan with HCP Terraform Cloud
        uses: ./
        with:
          terraform-dir: examples/tfc-backend
          backend-type: remote
          tfc-organization: ${{ secrets.TFC_ORGANIZATION }}
          tfc-workspace: ${{ secrets.TFC_WORKSPACE }}
          tfc-token: ${{ secrets.TFC_API_TOKEN }}
          tf-vars-file: terraform.tfvars